# Server configuration
PORT=5000

# Database connection
MONGODB_URI=mongodb://localhost:27017/roommate-finder

# JWT configuration
JWT_SECRET=your_jwt_secret_key_here

# Frontend URL for CORS configuration
FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Firebase Config
FIREBASE_PROJECT_ID=your_firebase_project_id

# Firebase Admin SDK Config (Backend)
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your_firebase_project_id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----"
# Vietmap Configuration
VIETMAP_API_KEY=your_vietmap_api_key
